<div class="row">
  <div class="col-12">
    <form class="form-inline">
      <div class="form-group">
        <label for="currencyTo">To:&nbsp;</label>
        <select id="currencyTo" class="form-control" [formControl]="currencyTo">
          <option *ngFor="let currency of currencyToList" [ngValue]="currency">{{currency}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-12 mt-3">
    <div class="form-group">
      <input #tid type="text" (keyup)="0" class="form-control" placeholder="Enter tid">
    </div>
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th>tid</th>
          <th>Date</th>
          <th>Price</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trade of trades | searchFilter: 'tid' : tid.value">
          <th>{{trade.tid}}</th>
          <td>{{trade.date}}</td>
          <td>{{trade.price}}</td>
          <td>{{trade.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>