<form (ngSubmit)="onSubmit(krok1Form);submitted = true" [formGroup]="krok1Form" [class.ng-submitted]="submitted">
  <div *ngIf="viewConfig.sections.osoby">
    <h4>Dane osobowe</h4>
    <app-daneosobowe [parentForm]="krok1Form" [viewConfig]="viewConfig.sections.osoby"></app-daneosobowe>
  </div>
  <button type="submit" class="btn btn-success float-right">Submit</button>
  <div class="row">
    <div class="col-6">
      <pre>{{rawValue |json}}</pre>
      <pre>{{krok1Form.controls.errors | json}}</pre>
    </div>
    <div class="col-6">
      <pre>{{model |json}}</pre>
    </div>
  </div>

</form>