<div [formGroup]="parentForm">
  <div *ngFor="let osoba of osoby?.controls; let i = index">
    <app-osoba [parentForm]="osoba" [viewConfig]="viewConfig"></app-osoba>
    <div class="col-12" *ngIf="i === 0">
      <div class="form-group">
        <div class="row">
          <label class="col-form-label col-12 pt-0">Czu Ubezpieczający jest jednocześnie Ubezpieczonym?</label>
          <div class="col-12">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="_sys_czyUbezp.T" value="true" formControlName="_sys_czyUbezp">
              <label class="form-check-label" for="_sys_czyUbezp.T">
                Tak
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="_sys_czyUbezp.F" value="false" formControlName="_sys_czyUbezp">
              <label class="form-check-label" for="_sys_czyUbezp.F">
                Nie
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>