<div [formGroup]="parentForm">
  <div class="form-adres">
    <h6>Adres: {{parentForm.value.typ}}</h6>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Ulica</label>
      <div class="col-md-9">
        <input type="text" class="form-control" formControlName="ulica">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Numer domu</label>
      <div class="col-md-9">
        <input type="text" class="form-control" formControlName="nrDomu">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Numer mieszkania</label>
      <div class="col-md-9">
        <input type="text" class="form-control" formControlName="nrMieszkania">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Kod pocztowy</label>
      <div class="col-md-9">
        <input type="text" class="form-control" formControlName="kodPocztowy">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Miejscowość</label>
      <div class="col-md-9">
        <input type="text" class="form-control" formControlName="miasto">
      </div>
    </div>
  </div>
</div>